.get_in_touch {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding: 0 20px;
  
}

.contact_us-box {
  display: flex;
  width: 900px;
  height: 450px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 30px;
  gap: 20px;
  
  
}

.contact_text {
    text-align: justify;
} 

.contact_text p{
    padding-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.form input {
  display: flex;
  width: 340px;
  height: 40px;
  padding: 10px 10px 10px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 10px 20px 0px rgba(7, 7, 26, 0.15);
}

.text_message {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 10px 20px 0px rgba(7, 7, 26, 0.15);
}
textarea{
    padding-left: 20px;
    padding-top: 10px;
    height: 150px;
}

.form input,textarea:focus {
  outline: none;
  border: none;
}

.form button {
  display: flex;
  width: 160px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: linear-gradient(168deg, #c961de 0%, #2954a3 100%);
  box-shadow: 0px 10px 20px 0px rgba(7, 7, 26, 0.15);
}


.footer_social_media {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
   
}

.footer_social_media img {
    height: 38px;
}

.footer_social_media ul {
     display: flex;
     gap: 20px;
}

.footer_social_media li { 
    list-style: none;
}

